<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="border-dark ">
          <div class=" text-center ">

        
            <h3>Signin</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mb-3 ">
                <form [formGroup]="loginForm" (submit)="onSubmit()">
                  <div class="form-label">
                    
                    <input
                      type="text"
                      formControlName="userName"
                      class="fst-italic"
                      [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }"
                      placeholder="Enter username"
                      required
                    />
                    <div
                      *ngIf="submitted && f['userName'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['username'].errors['required']">
                        Username is required
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    
                    <input
                      type="password"
                      formControlName="password"
                      class="fst-italic"
                      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                      placeholder="Enter Password"
                      pattern=".{3,}"
                      title="Min 3 characters"
                      required
                    />
                    <div
                      *ngIf="submitted && f['password'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['password'].errors['required']">
                        Password is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <input
                      type="submit"
                      class="btn btn-outline-secondary"
                      value="Signin"
                      id="login"
                      [disabled]="loading"
                    />
                    
                  </div>
                </form>
              </div>
              <div>
                <p>{{loginErrorMessage}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  