<div class="sticky-top mb-3">
    <nav
      class="nav-item"
      *ngIf="!isLoggedInFlag">
      <a routerLink="#" class="navbar-brand"
        ><span class="h3">Digital Book</span></a>

        <a routerLink="/signup" class="nav-item"
        ><span class="h5">Sign Up</span></a>
        <a routerLink="/signin" class="nav-item"
        ><span class="h5">Sign In</span></a>
    </nav>
    <nav
      class="nav-item"
      *ngIf="isLoggedInFlag && isAuthorLoggedIn">
      
      <ul class="nav-item">
        <li class="nav-item">
          <a class="nav-item" routerLink="/createbooks">Create Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-item" routerLink="/createdbooks">Book Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-item"  routerLink="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>
    <nav
      class="nav-item"
      *ngIf="isLoggedInFlag && isReaderLoggedIn">
      
      <ul class="nav-item">
        <li class="nav-item">
          <a class="nav-item" routerLink="/">Search Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-item" routerLink="/subescribedbooks">Your Subscribed Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-item" (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>

  </div>
  