


<div class="container mb-4 ">
    <div class="row ">
      <div class="col-md-6 d-flex justify-content-evenly " *ngIf="!isUpdate">
        <div class="  border-dark">
          <div class=" text-center ">
            <h3>Created Book</h3>
          </div>
          <div class="card-body">
           
             <table>
                <tbody *ngFor="let createdBook of createdBookList; let i= index" style="background-color: white; ">
                    <tr >
                      <div class="d-flex justify-content-evenly">
                        <p style="word-wrap: break-word;"> <img id="myimage" [src]='thumbnail[i]' style="height: 50px;" /></p>
                        <p  style="word-wrap: break-word;">Book id: {{createdBook.id}}</p>&nbsp;&nbsp;&nbsp;
                        <p  style="word-wrap: break-word; ">Book: {{createdBook.title}}</p>&nbsp;&nbsp;&nbsp;
                       
                      </div>
                    <br/>
                        <span style="word-wrap: break-word;" *ngIf="createdBook.active"><button 
                          (click)="block(createdBook.id, createdBook.active)" class="btn btn-outline-secondary">Subscribe</button>
                        </span>
                        <span style="word-wrap: break-word;" *ngIf="!createdBook.active">
                          <button  *ngIf="!createdBook.active" (click)="block(createdBook.id, createdBook.active)" class="btn btn-outline-secondary">Unsubscribe</button>
                        </span> &nbsp;
                        <span style="word-wrap: break-word;"><button (click)="update(createdBook.id)" class="btn btn-outline-secondary">Update</button></span>
                        </tr>
                        <hr/>

                </tbody>

             </table>
              
         
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isUpdate">
    <div class="container mb-4">
        <div class="row">
          <div class="col-md-6  ">
            <div class=" border-dark">
              <div class="text-center">
                <h3>Update Book </h3>
              </div>
              <div class="card-body">
                <form [formGroup]="updateBookForm" (submit)="onSubmitToUpdate()">
                  <div class="form-group row">
                    <div class="mb-3">
                        <input type='file'  (change)="onChange($event)"
                        formControlName="logo" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['logo'].errors }" required placeholder="Logo of the book" />
                        <div *ngIf="submittedForCreation && f1['logo'].errors" class="invalid-feedback">
                          <div *ngIf="f1['logo'].errors['required']">Logo is required</div>
                      </div>
                      </div>
    
                    <div class="mb-3">
                        <input type='text'
                        formControlName="category" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['category'].errors }" 
                        required placeholder="Category of the book" 
                        value="updatableValue.books.category"/>
                        <div *ngIf="submittedForCreation && f1['category'].errors" class="invalid-feedback">
                          <div *ngIf="f1['category'].errors['required']">Category is required</div>
                      </div>
                      </div>
                    <div class="mb-3">
                        <input type='text'
                        formControlName="title" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['title'].errors }" required placeholder="Title of the book" />
                        <div *ngIf="submittedForCreation && f1['title'].errors" class="invalid-feedback">
                          <div *ngIf="f1['title'].errors['required']">Tilte is required</div>
                      </div>
                    </div>
                  
                  </div>
                  <div class="mb-3">
                    <div>
                        <input type='text' formControlName="publisher" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['publisher'].errors }" required placeholder="Publisher of the book"/>
                        <div *ngIf="submittedForCreation && f1['publisher'].errors" class="invalid-feedback">
                          <div *ngIf="f1['publisher'].errors['required']">Publisher is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="mb-3">
                      <input type='number' formControlName="price" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['price'].errors }" required placeholder="Price of the book"/>
                      <div *ngIf="submittedForCreation && f1['price'].errors" class="invalid-feedback">
                        <div *ngIf="f1['price'].errors['required']">Price is required</div>
                       
                    </div>
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <div class="mb-3">
                      <input type='textarea' formControlName="content" class='form-control' [ngClass]="{ 'is-invalid': submittedForCreation && f1['content'].errors }" required placeholder="Content of the book"/>
                      <div *ngIf="submittedForCreation && f1['content'].errors" class="invalid-feedback">
                        <div *ngIf="f1['content'].errors['required']">Content is required</div>
                       
                    </div>
                    </div>
                  </div>
                  <div>
                    <input type='hidden' formControlName="bookId" class='form-control'  />
                      

                  </div>
    
    
                  <div class="row">
                    <div class="col-sm-5 ">
                        <input type="submit" [disabled]="loading" class='btn btn-outline-secondary' value='Update' id='search'  />
                    </div>
                    {{createstatus}}
    
                  </div>
                  <div class="row">
                  </div>  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
